<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="licola.demo.com.huabandemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--Bugly 需要的权限-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".Base.HuaBanApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Module.Main.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity
            android:name=".Module.Welcome.WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Module.Login.LoginActivity"
            android:label="@string/title_activity_Login"
            android:parentActivityName=".Module.Main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Module.Main.MainActivity" />
        </activity>
        <activity
            android:name=".Module.ImageDetail.ImageDetailActivity"
            android:label="@string/title_activity_image_detail"
            android:launchMode="standard"
            android:parentActivityName=".Module.Main.MainActivity"
            android:theme="@style/AppTheme.ActionBar_StatusBarGreyDark">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Module.Main.MainActivity" />
        </activity>
        <activity
            android:name=".Module.BoardDetail.BoardDetailActivity"
            android:label="@string/title_activity_board_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Module.SearchResult.SearchResultActivity"
            android:label="@string/title_activity_search_result"
            android:parentActivityName=".Module.Search.SearchAndTypeActivity"
            android:theme="@style/AppTheme.ActionBar_StatusBarPrimaryDark">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Module.Main.MainActivity" />
        </activity>
        <activity
            android:name=".Module.Search.SearchAndTypeActivity"
            android:label="@string/title_activity_search"
            android:parentActivityName=".Module.Main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Module.Main.MainActivity" />
        </activity>
        <activity
            android:name=".Module.Type.TypeActivity"
            android:label="@string/title_activity_module"
            android:parentActivityName=".Module.Search.SearchAndTypeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Module.Search.SearchAndTypeActivity" />
        </activity>

        <activity
            android:name=".Module.Follow.FollowActivity"
            android:label="@string/title_activity_my_following"
            android:parentActivityName=".Module.Main.MainActivity"
            android:theme="@style/AppTheme.ActionBar_StatusBarPrimaryDark">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Module.Main.MainActivity" />
        </activity>
        <activity
            android:name=".Module.Setting.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".Module.Main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Module.Main.MainActivity" />
        </activity>
        <activity
            android:name=".Module.User.UserActivity"
            android:label="@string/title_activity_user"
            android:parentActivityName=".Module.Main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Module.Main.MainActivity" />
        </activity>


        <service android:name=".Service.DownloadService"/>
        //todo 注册广播暂时不不处理 网络状态变换
        <receiver android:name=".HttpUtils.ConnectionChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>